In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('Resources/TrainingWiDS2021.csv')

print(df.shape)
df.head()

(130157, 181)

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,h1_pao2fio2ratio_max,h1_pao2fio2ratio_min,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
0,1,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,NaN,NaN,0,0,0,0,0,0,0,1
1,2,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,51.0,51.0,0,0,0,0,0,0,0,1
2,3,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,NaN,NaN,0,0,0,0,0,0,0,0
3,4,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,337.0,337.0,0,0,0,0,0,0,0,0
4,5,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0

In [12]:
# Remove rows that have at least 1 null value.
df = df.dropna()
print(df.shape)
df.head()

(63, 181)

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,h1_pao2fio2ratio_max,h1_pao2fio2ratio_min,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
8230,8231,232100,89,67.0,28.146291,0,Caucasian,M,167.64,Direct Admit,...,121.666667,121.666667,0,0,0,1,0,0,0,0
8435,8436,275481,89,60.0,34.574559,0,Caucasian,M,177.80,Direct Admit,...,188.888889,188.888889,0,0,0,0,0,0,0,0
8657,8658,278577,89,66.0,25.775925,1,Caucasian,M,185.40,Operating Room,...,382.608696,382.608696,0,0,0,0,0,0,0,0
8667,8668,278295,89,55.0,56.659238,0,Other/Unknown,F,162.60,Operating Room,...,85.000000,85.000000,0,0,0,0,0,0,0,0
9170,9171,236541,89,21.0,22.180764,0,Caucasian,M,182.90,Direct Admit,...,92.727273,92.727273,0,0,0,0,0,0,0,0

In [14]:
df.to_csv('Resources/EHM_test_db.csv')